TEST_SITE_DB_DSN=mysql:host=db;dbname=wordpress
TEST_SITE_DB_HOST=db
TEST_SITE_DB_NAME=wordpress
TEST_SITE_DB_USER=wordpress
TEST_SITE_DB_PASSWORD=wordpress
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=password
TEST_SITE_WP_ADMIN_PATH=/wp-admin
WP_ROOT_FOLDER=/var/www/html
TEST_DB_NAME=wordpress
TEST_DB_HOST=db
TEST_DB_USER=wordpress
TEST_DB_PASSWORD=wordpress
TEST_TABLE_PREFIX=test_
TEST_SITE_WP_URL=http://localhost:7777
TEST_SITE_WP_DOMAIN=localhost:7777
TEST_SITE_ADMIN_EMAIL=dev@uncannyowl.com
DOING_AUTOMATOR_TEST=yes
