.uap {

	/* Use this class as main container to avoid conflicts */
	font-family: var(--uap-font-family);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uap * {
	box-sizing: border-box;
}

.uap .clear::after {
	content: "";
	display: block;
	clear: both;
}

.uap nav.uap-nav-tab-wrapper {
	margin: 1.5em 0 1em;
}

.uap a {
	color: var(--uap-color-blue);

	font-weight: 500;
	text-decoration: none;
}

.uap-text-secondary {
	color: var(--uap-font-color-secondary);
}

/* uo-recipe posts columns */

.uap .uo-post-column {}

.uap .uo-post-column__list {
	margin: 0;
}

.uap .uo-post-column__item {}

/* Review banner */

/* Remove WP styling */
#uap-review-banner {
	padding: 0;
	border: 0;
	box-shadow: none;
	background: none;

	display: block !important;
}

.uap .uap-review-banner {
	width: 100%;

	background: #fff;
	border: 1px solid #ccd0d4;
	border-radius: 4px;

	font-size: 14px;
	line-height: 1.4;
	color: #343434;

	display: flex;

	position: relative;
}

.uap .uap-review-banner-left {
	width: 86px;

	flex: 0 0 auto;

	display: flex;

	padding: 20px 0 0 20px;
}

.uap-review-banner__robot {
	width: 100%;
	height: 100%;

	position: relative;
	overflow: hidden;
}

.uap-review-banner__robot img {
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

.uap .uap-review-banner-right {
	flex: 1 1 auto;

	padding: 20px;
}

.uap .uap-review-banner__title {
	font-size: 15px;
	font-weight: 600;

	padding-right: 25px;
}

.uap .uap-review-banner__description {
	font-size: 14px;
	margin-top: 2px;
}

.uap .uap-review-banner__actions {
	padding-top: 20px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	margin-bottom: -10px;
}

.uap .uap-review-banner__action, .uap .uap-track-banner__action {
	display: inline-block;

	padding: 5px 15px;

	margin-bottom: 10px;

	border: 1px solid #b7b7b7;
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

	font-weight: 500;
	color: #6c757d;

	text-decoration: none;

	cursor: pointer;

	position: relative;

	transition:
		background 150ms ease-in-out,
		color      150ms ease-in-out,
		border     150ms ease-in-out;
}

.uap .uap-review-banner__action::before, .uap .uap-track-banner__action::before {
	content: "";

	width: 10px;
	height: 10px;

	border: 2px solid transparent;
	border-top-color: #fff;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;

	opacity: 0;

	user-select: none;

	animation: rotating-centered 2s linear infinite;
	transition: opacity 150ms ease-in-out;
}

.uap .uap-review-banner__action:not(:last-child), .uap .uap-track-banner__action:not(:last-child) {
	margin-right: 10px;
}

.uap .uap-review-banner__action:hover, .uap .uap-track-banner__action:hover {
	color: #fff;
	background: #9e9e9e;
	border-color: #9e9e9e;
}

.uap .uap-review-banner__action--loading,
.uap .uap-review-banner__action--loading:hover,
.uap .uap-review-banner__action--loading:active,
.uap .uap-review-banner__action--loading:focus {
	color: transparent;
	background: #9e9e9e;
	border-color: #9e9e9e;
}

.uap .uap-review-banner__action--loading::before {
	opacity: 1;
}

.uap .uap-review-banner__action--primary {
	border-color: var(--uap-color-blue);
	color: var(--uap-color-blue);
}

.uap .uap-review-banner__action--primary:hover {
	background: var(--uap-color-blue);
	border-color: var(--uap-color-blue);
}

.uap .uap-review-banner__action--primary.uap-review-banner__action--loading,
.uap .uap-review-banner__action--primary.uap-review-banner__action--loading:hover,
.uap .uap-review-banner__action--primary.uap-review-banner__action--loading:active,
.uap .uap-review-banner__action--primary.uap-review-banner__action--loading:focus {
	background: var(--uap-color-blue);
	border-color: var(--uap-color-blue);
}

.uap .uap-review-banner__action--anchor {
	box-shadow: none;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	border-color: transparent;
}

.uap a.uap-review-banner__action--anchor-border {
	text-decoration: underline;
	color: #6c757d;
}

.uap .uap-review-banner__action--anchor:hover {
	background: transparent;
	border-color: transparent;
	color: #5c636a;
}

.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading,
.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading:hover,
.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading:active,
.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading:focus {
	color: #5c636a;
}

.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading {
	padding-right: 35px;
}

.uap .uap-review-banner__action--anchor::before {
	border-top-color: #9e9e9e;
	left: auto;
	right: 0;
}

.uap-review-banner__action--no-margin-right {
	margin-right: 5px !important;
}

.uap .uap-review-banner__disclaimer {
	font-size: 13px;
	color: #9e9e9e;
}

.uap #uap-review-banner__close {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;

	padding: 5px;

	cursor: pointer;

	border-radius: 50%;

	transition: background 150ms ease-in-out;
}
.uap #uap-tracking-banner__close {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;

	padding: 5px;

	cursor: pointer;

	border-radius: 50%;

	transition: background 150ms ease-in-out;
}

.uap .uap-review-banner__close-tooltip {
	width: 100%;
	height: 100%;
	border-radius: 50%;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 100;
}

.uap #uap-review-banner__close:hover {
	background: #e0e2e3;
}

.uap #uap-review-banner__close::before {
	content: "";

	width: 10px;
	height: 10px;

	border: 2px solid transparent;
	border-top-color: #90979c;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;

	opacity: 0;

	user-select: none;

	animation: rotating-centered 2s linear infinite;
	transition: opacity 150ms ease-in-out;
}

.uap #uap-review-banner__close.uap-review-banner__close--loading::before {
	opacity: 1;
}

.uap .uap-review-banner__close-icon {
	width: 14px;
	height: 14px;

	opacity: 1;

	position: relative;

	transition: opacity 150ms ease-in-out;
}

.uap .uap-review-banner__close--loading .uap-review-banner__close-icon {
	opacity: 0;
}

.uap .uap-review-banner__close-icon::before,
.uap .uap-review-banner__close-icon::after {
	content: "";

	position: absolute;

	top: 50%;
	left: 50%;
	transform-origin: center;

	width: 100%;
	height: 2px;
	background: #90979c;
}

.uap .uap-review-banner__close-icon::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.uap .uap-review-banner__close-icon::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

/* Keyframes */

@keyframes rotating-centered {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}


/**
 * Upgrade notice on Plugins update page
 */
#uncanny-automator-update .updating-message .ua_plugin_upgrade_notice,
#uncanny-automator-pro-update .updating-message .ua_plugin_upgrade_notice {
	display: none;
}
#uncanny-automator-update .dummy,
#uncanny-automator-pro-update .dummy {
	display: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice {
	font-weight: normal;
	background: #fff8e5 !important;
	border-left: 4px solid #ffb900;
	border-top: 1px solid #ffb900;
	padding: 9px 0 9px 12px !important;
	margin: 0 -12px 0 -16px !important;
}
#uncanny-automator-update .ua_plugin_upgrade_notice::before,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice::before {
	content: "\f348";
	display: inline-block;
	font: 400 18px/1 dashicons;
	speak: never;
	margin: 0 8px 0 -2px;
	vertical-align: top;
	color: #f56e28;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor, #uncanny-automator-update .ua_plugin_upgrade_notice.major,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major {
	padding: 20px 0 !important;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor::before, #uncanny-automator-update .ua_plugin_upgrade_notice.major::before,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor::before, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major::before {
	display: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor p, #uncanny-automator-update .ua_plugin_upgrade_notice.major p,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor p, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major p {
	padding: 0 20px;
	margin: 0;
	max-width: 700px;
	line-height: 1.5em;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor p::before, #uncanny-automator-update .ua_plugin_upgrade_notice.major p::before,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor p::before, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major p::before {
	content: "";
	display: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table {
	margin: 0.75em 0 0;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table tr, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table tr,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table tr, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table tr {
	background: transparent none !important;
	border: 0 !important;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table th, #uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table td, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table td,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table th, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table td, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table td {
	background: transparent none !important;
	margin: 0;
	padding: 0.75em 20px 0;
	border: 0 !important;
	font-size: 1em;
	box-shadow: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table th,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table th {
	font-weight: bold;
}
.recipe-ui-dash {
	font-size: 14px;
	margin-top: 2px;
	width: 14px;
	height: 14px;
}

.dashicons-yes-alt.recipe-ui-dash {
	color: green;
}
.dashicons-warning.recipe-ui-dash {
	color: orange;
}

/**
 * Others
 */

.uap-integration-inline {
	display: inline-flex;
	position: relative;

	padding-left: calc(calc(1em + 4px) + 5px);
}

.uap-integration-inline img {
	width: calc(1em + 4px);
	height: calc(1em + 4px);

	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	object-fit: contain;
	object-position: center;
}

.uap mark {
	background: #ffeb7f;
	font-weight: 600;
	padding: 2px 5px;
	border-radius: 4px;
}