.uap {}

.tablenav {
	height: auto !important;
}

.uap .uap-logs {}

.uap .uap-log-table-container {
	position: relative;
	border-radius: 3px;
}

@media (min-width: 1366px) {
	.uap .uap-log-table-container .column-trigger_title,
	.uap .uap-log-table-container .column-action_title {
		width: 250px !important;
	}
}

@media (min-width: 1024px) and (max-width: 1365px) {
	.uap .uap-log-table-container .column-trigger_title,
	.uap .uap-log-table-container .column-action_title {
		width: 180px !important;
	}
}

@media (min-width: 780px) and (max-width: 1023px) {
	.uap .uap-log-table-container .column-trigger_title,
	.uap .uap-log-table-container .column-action_title {
		width: 150px !important;
	}
}

.uap .uap-log-table-loader {
	width: 100%;
	height: 100%;

	background: rgba(255, 255, 255, 0.5);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.uap .uap-log-table {}

.uap .dataTables_wrapper {
	margin-top: 15px;
}

.uap .uap-log-table {
	float: left;
	font-size: 14px;
	border-collapse: separate;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5 !important; /* Overwrite datatables */
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}

/* Head */
.uap .uap-log-table thead tr {
	background: #fff;
}

/* Head Cells */

.uap .uap-log-table thead th {
	color: #32373c;
	padding: 1em 40px 1em 1em;
	vertical-align: middle;
	font-weight: 600;
	line-height: 1.75em;
	border-bottom: 3px solid #e5e5e5;
	text-align: left;
}

/* Cells */
.uap .uap-log-table td {
	color: #555;
	padding: 10px 12px;
	line-height: 1.75em;
	outline: none;
}

.uap .uap-log-table tr .sorting_1 {
	background-color: transparent !important;
}

/* Rows */
.uap .uap-log-table tr.odd {
	background: rgb(249, 249, 249);
}

.uap .uap-log-table tr.odd:hover {
	background-color: rgb(249, 249, 249);
}

.uap .uap-log-table tr.even:hover {
	background-color: #fff;
}

/* Links */
.uap .uap-log-table td a {
	text-decoration: none;
}

.uap .uap-log-table td a.uap-log-table__recipe-name {
	font-weight: 600;
}

/* Buttons */
.uap .dt-buttons {
	display: none;
}

/* Search */
.uap .dataTables_filter {
	width: 100%;
	float: left;
}

.uap .dataTables_filter::after {
	content: "";
	display: table;
	clear: both;
}

.uap .dataTables_filter label {
	width: 100%;
	float: left;
	display: block;
}

.uap .dataTables_filter label::after {
	content: "";
	display: table;
	clear: both;
}

.uap .dataTables_filter input {
	width: 100%;
	padding: 8px 10px;
	margin: 0;
	float: left;
}

/* Pagination */
.uap .dataTables_paginate {}

.uap .dataTables_paginate .dataTables_info {
	padding: 0;
	vertical-align: middle;
	padding: 0 10px;
}

.uap .dataTables_paginate .paginate_button {
	display: inline-block;
	min-width: 17px;
	border: 1px solid #ccc;
	padding: 3px 5px 7px;
	background: #e5e5e5;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	text-align: center;
	box-sizing: content-box;
	vertical-align: middle;
}

.uap .dataTables_paginate .paginate_button:not(.disabled):hover,
.uap .dataTables_paginate .paginate_button:not(.disabled):active,
.uap .dataTables_paginate .paginate_button:not(.disabled):focus {
	border-color: #5b9dd9;
	color: #fff !important;
	background: #00a0d2;
	box-shadow: none;
	outline: 0;
}

.uap .dataTables_paginate .paginate_button.disabled,
.uap .dataTables_paginate .paginate_button.disabled:hover,
.uap .dataTables_paginate .paginate_button.disabled:active,
.uap .dataTables_paginate .paginate_button.disabled:focus {
	height: 16px;
	border-color: #ddd;
	background: #f7f7f7;
	color: #a0a5aa;
}
.uap .tablenav-pages-navspan {
	height: auto;
}
.uap .tablenav {
	margin-bottom: 10px;
}

.uap-report {}

.uap-report-filters {}

.uap-report-filters-content {
	display: flex;
	justify-content: space-between;
}

.uap-report-filters-left {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	margin-bottom: -5px;
}

.uap-report-filters-filter {
	margin-bottom: 5px;
}

.uap-report-filters-filter:not(:last-child) {
	margin-right: 5px;
}

.uap-report-filters-filter select,
.uap-report-filters-filter input {
	margin: 0;
}

.uap-report-filters-filter select,
.uap-report-filters-filter input[type="text"] {
	width: 12.5rem;
}

.uap-report-filters-filter select:disabled,
.uap-report-filters-filter input[type="text"]:disabled {
	color: #a0a5aa;
	border-color: #ddd;
	background-color: #f7f7f7;
}

.uap-report-filters-filter input[type="text"]:disabled::placeholder {
	color: #a0a5aa !important;
	opacity: 1 !important;
}

.uap-report-filters div.button.button--disabled {
	color: #a0a5aa !important;
	border-color: #ddd !important;
	background: #f7f7f7 !important;
	box-shadow: none !important;
	text-shadow: 0 1px 0 #fff !important;
	cursor: default;
	transform: none !important;
}

.uap-report-filters__pro-notice {
	width: 100%;

	color: #6e6e6e;
	font-weight: 500;
	font-size: 14px;

	margin-top: 3px;

	display: flex;
	align-items: center;
}

.uap-report-filters__pro-notice::before {
	content: "";

	width: 15px;
	height: 15px;

	display: inline-block;

	margin-right: 5px;

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgYXJpYS1oaWRkZW49InRydWUiIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48ZGVmcy8+PHBhdGggZmlsbD0iIzZlNmU2ZSIgZD0iTTIyNCA0MTJhMjggMjggMCAwMS0yOC0yOHYtNjRhMjggMjggMCAxMTU2IDB2NjRhMjggMjggMCAwMS0yOCAyOHptMjI0LTE3MnYyMjRhNDggNDggMCAwMS00OCA0OEg0OGE0OCA0OCAwIDAxLTQ4LTQ4VjI0MGE0OCA0OCAwIDAxNDgtNDhoMzJ2LTQ4QzgwIDY0LjUgMTQ0LjgtLjIgMjI0LjQgMCAzMDQgLjIgMzY4IDY1LjggMzY4IDE0NS40VjE5MmgzMmE0OCA0OCAwIDAxNDggNDh6bS0zMjAtNDhoMTkydi00OGMwLTUyLjktNDMuMS05Ni05Ni05NnMtOTYgNDMuMS05NiA5NnY0OHptMjcyIDQ4SDQ4djIyNGgzNTJWMjQweiIvPjwvc3ZnPg==) no-repeat center;
	background-size: contain;
}

.uap-report-filters-right {}

.uap-report-filters-search {
	display: flex;
}

.uap-report-filters-search__field {
	width: 165px;
	margin-right: 5px;
}

.uap-report-filters-search__submit {}

.uap-logs-table {}

.uap-logs-table__item-main-sentence {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 1.5;
}

.uap-logs-table-item-name__token,
.uap-logs-table__item-main-sentence .item-title__token {
	color: #0790e8;
}

.uap-logs-table__item-main-sentence .item-title__normal,
.uap-logs-table__item-main-sentence .item-title__token {
	margin-right: 5px;
}

.uap-logs-table__item-main-sentence .item-title__token {
	display: inline-block;
}

.uap-logs-table__item-main-sentence .uap-token {
	border: 1px solid #6baae1;
}

.uap-logs-table__item-secondary-sentence {
	width: 100%;

	opacity: 0.7;
	font-size: 11px;

	position: relative;

	padding-left: 14px;

	user-select: none;
}

.uap-logs-table__item-secondary-sentence::before {
	content: "";

	width: 12px;
	height: 12px;

	position: absolute;
	top: 4px;
	left: 0;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ababab' d='M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z'%3E%3C/path%3E%3C/svg%3E");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/**
 * Tokens in reports
 */

.uap-token {
	display: inline-flex;
	align-items: center;
	background: #eee;
	line-height: 1;
	padding: 3px 8px;
	border-radius: 150px;

	font-size: 14px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uap-token-tinymce {
	display: inline-block;
	line-height: 1;
	border-radius: 150px;
	box-shadow: 0 0 0 2px transparent;
	transition: box-shadow 150ms ease-in-out;
	cursor: pointer;
}

.uap-token-tinymce[data-mce-selected="1"] {
	outline: 0 !important;
	box-shadow: 0 0 0 2px #0790e8;
}

.uap-token img {
	width: 12px;
	height: 11px;
	margin-right: 5px;
	object-fit: contain;
	object-position: center;
	display: block;
}

.uap-token .uo-icon {
	width: 12px;
	height: 12px;
	border: 1px solid #444;
	border-radius: 50%;
	font-size: 9px;
	color: #444;
	text-align: center;
	line-height: 15px;
	background: #fff;
	opacity: 0.8;
	margin-right: 5px;
	position: relative;
}

.uap-token .uo-icon.uo-icon--bolt::before {
	content: "";

	width: 8px;
	height: 8px;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23444' d='M377.8 167.9c-8.2-14.3-23.1-22.9-39.6-22.9h-94.4l28.7-87.5c3.7-13.8.8-28.3-7.9-39.7C255.8 6.5 242.5 0 228.2 0H97.7C74.9 0 55.4 17.1 52.9 37.1L.5 249.3c-1.9 13.8 2.2 27.7 11.3 38.2C20.9 298 34.1 304 48 304h98.1l-34.9 151.7c-3.2 13.7-.1 27.9 8.6 38.9 8.7 11.1 21.8 17.4 35.9 17.4 16.3 0 31.5-8.8 38.8-21.6l183.2-276.7c8.4-14.3 8.4-31.5.1-45.8zM160.1 457.4L206.4 256H47.5L97.7 48l127.6-.9L177.5 193H334L160.1 457.4z'%3E%3C/path%3E%3C/svg%3E");

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.uap-token__name {
	color: #444;
	font-size: 12px;
	font-weight: 600;
}

.uap-token--invalid {
	background: #f9e2e2;
}

.uap-token--invalid .uo-icon {
	color: #c00;
	border-color: #c00;
}

/*
		td.action_title .uap-logs-table__item-main-sentence span.item-title__token.item-title__token--filled {
			margin-left: 5px;
			margin-right: 5px;
			background: #0790e8;
			color: #fff;
			border: 1px solid #0790e8;
			border-radius: 8px;
			font-size: 14px;
			font-weight: 500;
			padding: 2px 5px;
			transition: background .15s ease-in-out,color .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out;
			vertical-align: middle;
			display:inline-flex;
		}
		*/
