html.wp-toolbar body.uo-recipe_page_uncanny-automator-recipe-activity-details .wrap.uap {
	padding: 0 15px;
	margin: -5px 0 0 0;
}

.uo-recipe_page_uncanny-automator-admin-logs .lity {
	background: #0006;
}

.uo-recipe_page_uncanny-automator-admin-logs .lity-iframe-container iframe,
.uo-recipe_page_uncanny-automator-admin-logs .lity-content::after {
	box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.uo-recipe_page_uncanny-automator-admin-logs .lity-iframe-container iframe {
	background: #f9f9f9;
}

body.uo-recipe_page_uncanny-automator-recipe-activity-details #wpbody {
	padding-top: 0 !important;
	background-color: #fff;
}

.uap-log-table-container>h2 {
	margin: 20px 0 15px;
	font-size: 17px;
	font-weight: 600;
	color: #373737;
}

.uap-logs ul.recipe-details__list,
.uap-logs ul.recipe-details__list>li {
	margin: 0;
	padding: 0;
}

.uap-logs ul.recipe-details__list {
	margin-bottom: 15px;
	border-radius: 8px;
	font-size: 14px;
	overflow: hidden;
	border: 1px solid #0000001a;
}

.uap-logs ul.recipe-details__list>li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #fff;
	padding: 7.5px 10px;
	border-bottom: 1px solid #f6f7f7;
}

.uap-logs ul.recipe-details__list>li:nth-child(even) {
	background: #f6f7f7;
}

.uap-logs ul.recipe-details__list>li:last-child {
	border-bottom: 0;
}

.uap-logs ul.recipe-details__list>li>.recipe-details__column-1 {
	width: 35%;
}

.uap-logs ul.recipe-details__list>li>.recipe-details__column-2 {
	color: #747474;
	width: 65%;
}

.uap-logs ul.recipe-details__list>li>.recipe-details__column-2 br {
	display: none;
}


/**
 * Fixing Lity CSS.
 */

.uo-recipe_page_uncanny-automator-admin-logs div.lity-iframe {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.uo-recipe_page_uncanny-automator-admin-logs div.lity-iframe div.lity-container {
	position: relative;
	max-width: 550px;
}

.uo-recipe_page_uncanny-automator-admin-logs .lity-content::after,
.uo-recipe_page_uncanny-automator-admin-logs div.lity-iframe div.lity-iframe-container {
	border-radius: 8px;
}

.uo-recipe_page_uncanny-automator-admin-logs div.lity-iframe div.lity-iframe-container {
	height: 605px;
}

.uo-recipe_page_uncanny-automator-admin-logs .lity-close {
	position: absolute;
	top: -35px;
	color: #bd0000;
	text-shadow: none;
	right: -10px;
	font-size: 30px;
}

/**
 * Tables
 */

.uap-logs table.wp_list_logs_links {
	margin-bottom: 15px;
}

.uap-logs table.wp_list_logs_links span.item-count {
	padding: 5px 0;
	margin-right: 10px;
	font-weight: 400;
	color: #747474;
}

.uo-recipe_page_uncanny-automator-recipe-activity-details a {
	color: #0790e8;
	text-decoration: none;
}

.uo-recipe_page_uncanny-automator-admin-logs .lity-wrap::before {
	margin-right: 0;
}

/**
 * Hide `Screen Options` using CSS.
 */
body.uo-recipe_page_uncanny-automator-recipe-activity-details #screen-meta-links {
	display: none;
}

@media screen and (max-width: 782px) {

	.uap-logs table.wp_list_logs_links.wp-list-table tbody tr {
		padding: 7.5px 0;
	}

	.uap-logs-minimal table.wp_list_logs_links.wp-list-table tbody tr:not(.is-expanded) td:not(:first-child) {
		display: none !important;
	}

	.uap-logs-minimal table.wp_list_logs_links.wp-list-table tbody tr,
	.uap-logs-minimal table.wp_list_logs_links.wp-list-table tbody tr td:first-child,
	.uap-logs-minimal table.wp_list_logs_links.wp-list-table tbody tr.is-expanded td:not(.hidden),
	.uap-logs-minimal table.wp-list-table tr:not(.inline-edit-row):not(.no-items).is-expanded td:not(.check-column):not(.hidden) {
		width: 100% !important;
		display: flex !important;
		flex-wrap: wrap !important;
		min-height: 24px !important;
	}

	.uap-logs table.wp_list_logs_links.wp-list-table tr:not(.inline-edit-row):not(.no-items) td.column-primary~td:not(.check-column) {
		padding: 0 10px 5px 35%;
	}

	.uap-logs table.wp_list_logs_links thead th.column-primary {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		color: #373737;
		font-weight: 600;
		font-size: 15px;
	}

	.uap-logs table.wp_list_logs_links {
		border-radius: 8px;
		border: 1px solid #0000001a;
		overflow: hidden;
	}

	.uap-logs table.wp_list_logs_links th {
		border-top: 0 none;
		border-bottom: 0 none;
	}

	.uap-logs table.wp_list_logs_links tfoot th {
		display: none;
	}

	.uo-recipe_page_uncanny-automator-recipe-activity-details #wpbody-content {
		padding-bottom: 0;
	}

	.uo-recipe_page_uncanny-automator-admin-logs div.lity-iframe div.lity-container {
		max-width: 90%;
	}

	body.auto-fold.uo-recipe_page_uncanny-automator-recipe-activity-details #wpcontent {
		padding-left: 0;
	}
}