.uap {

	/* Use this class as main container to avoid conflicts */
	font-family: var(--uap-font-family);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uap * {
	box-sizing: border-box;
}

.uap .clear::after {
	content: "";
	display: block;
	clear: both;
}

.uap nav.uap-nav-tab-wrapper {
	margin: 1.5em 0 1em;
}

.uap a {
	color: var(--uap-color-primary);

	font-weight: 500;
	text-decoration: none;
}

.uap-text-secondary {
	color: var(--uap-font-color-secondary);
}

/*
* Tooltip
*/

[uap-tooltip-admin] {
	position: relative;
}

[uap-tooltip-admin]::before,
[uap-tooltip-admin]::after {
	text-transform: none;
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	opacity: 0;
}

[uap-tooltip-admin]::before {
	content: "";
	border: 5px solid transparent;
	z-index: 1001;
}

[uap-tooltip-admin]::after {
	width: 100%;
	content: attr(uap-tooltip-admin);
	text-align: center;
	min-width: 80px;
	max-width: 21em;

	/*white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;*/
	padding: 4px 10px 6px 10px;
	line-height: 1.4;
	border-radius: 4px;
	box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
	background: #333;
	color: #fff;
	z-index: 1000;
}

[uap-tooltip-admin][uap-flow-admin^="left"]::after {
	min-width: 80px;
}

[uap-tooltip-admin]:hover::before,
[uap-tooltip-admin]:hover::after {
	display: block;
}

[uap-tooltip-admin=""]::before,
[uap-tooltip-admin=""]::after {
	display: none !important;
}

[uap-tooltip-admin]:not([uap-flow-admin])::before,
[uap-tooltip-admin][uap-flow-admin^="up"]::before {
	bottom: calc(100% + 5px);
	border-bottom-width: 0;
	border-top-color: #333;
}
[uap-tooltip-admin]:not([uap-flow-admin])::after,
[uap-tooltip-admin][uap-flow-admin^="up"]::after {
	bottom: calc(100% + 10px);
}
[uap-tooltip-admin]:not([uap-flow-admin])::before,
[uap-tooltip-admin]:not([uap-flow-admin])::after,
[uap-tooltip-admin][uap-flow-admin^="up"]::before,
[uap-tooltip-admin][uap-flow-admin^="up"]::after {
	left: 50%;
	transform: translate(-50%, -0.5em);
}

[uap-tooltip-admin][uap-flow-admin^="down"]::before {
	top: 100%;
	border-top-width: 0;
	border-bottom-color: #333;
}
[uap-tooltip-admin][uap-flow-admin^="down"]::after {
	top: calc(100% + 5px);
}
[uap-tooltip-admin][uap-flow-admin^="down"]::before,
[uap-tooltip-admin][uap-flow-admin^="down"]::after {
	left: 50%;
	transform: translate(-50%, 0.5em);
}
[uap-tooltip-admin][uap-flow-admin^="left"]::before {
	top: 50%;
	border-right-width: 0;
	border-left-color: #333;
	left: calc(0em - 10px);
	transform: translate(-0.5em, -50%);
}
[uap-tooltip-admin][uap-flow-admin^="left"]::after {
	top: 50%;
	right: calc(100% + 10px);
	transform: translate(-0.5em, -50%);
}
[uap-tooltip-admin][uap-flow-admin^="right"]::before {
	top: 50%;
	border-left-width: 0;
	border-right-color: #333;
	right: calc(0em - 10px);
	transform: translate(0.5em, -50%);
}
[uap-tooltip-admin][uap-flow-admin^="right"]::after {
	top: 50%;
	left: calc(100% + 10px);
	transform: translate(0.5em, -50%);
}

[uap-tooltip-admin]:not([uap-flow-admin]):hover::before,
[uap-tooltip-admin]:not([uap-flow-admin]):hover::after,
[uap-tooltip-admin][uap-flow-admin^="up"]:hover::before,
[uap-tooltip-admin][uap-flow-admin^="up"]:hover::after,
[uap-tooltip-admin][uap-flow-admin^="down"]:hover::before,
[uap-tooltip-admin][uap-flow-admin^="down"]:hover::after {
	animation: uap-tooltip-admins-vert 300ms ease-out forwards;
}

[uap-tooltip-admin][uap-flow-admin^="left"]:hover::before,
[uap-tooltip-admin][uap-flow-admin^="left"]:hover::after,
[uap-tooltip-admin][uap-flow-admin^="right"]:hover::before,
[uap-tooltip-admin][uap-flow-admin^="right"]:hover::after {
	animation: uap-tooltip-admins-horz 300ms ease-out forwards;
}

@keyframes uap-tooltip-admins-vert {
	to {
		opacity: 0.9;
		transform: translate(-50%, 0);
	}
}

@keyframes uap-tooltip-admins-horz {
	to {
		opacity: 0.9;
		transform: translate(0, -50%);
	}
}

/* uo-recipe posts columns */

.uap .uo-post-column {}

.uap .uo-post-column__list {
	margin: 0;
}

.uap .uo-post-column__item {}

/* Review banner */

/* Remove WP styling */
#uap-review-banner {
	padding: 0;
	border: 0;
	box-shadow: none;
	background: none;

	display: block !important;
}

.uap .uap-review-banner {
	width: 100%;

	background: #fff;
	border: 1px solid #ccd0d4;
	border-radius: 4px;

	font-size: 14px;
	line-height: 1.4;
	color: #343434;

	display: flex;

	position: relative;
}

.uap .uap-review-banner-left {
	width: 86px;

	flex: 0 0 auto;

	display: flex;

	padding: 20px 0 0 20px;
}

.uap-review-banner__robot {
	width: 100%;
	height: 100%;

	position: relative;
	overflow: hidden;
}

.uap-review-banner__robot img {
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

.uap .uap-review-banner-right {
	flex: 1 1 auto;

	padding: 20px;
}

.uap .uap-review-banner__title {
	font-size: 15px;
	font-weight: 600;

	padding-right: 25px;
}

.uap .uap-review-banner__description {
	font-size: 14px;
	margin-top: 2px;
}

.uap .uap-review-banner__actions {
	padding-top: 20px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	margin-bottom: -10px;
}

.uap .uap-review-banner__action, .uap .uap-track-banner__action {
	display: inline-block;

	padding: 5px 15px;

	margin-bottom: 10px;

	border: 1px solid #b7b7b7;
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

	font-weight: 500;
	color: #6c757d;

	text-decoration: none;

	cursor: pointer;

	position: relative;

	transition:
		background 150ms ease-in-out,
		color      150ms ease-in-out,
		border     150ms ease-in-out;
}

.uap .uap-review-banner__action::before, .uap .uap-track-banner__action::before {
	content: "";

	width: 10px;
	height: 10px;

	border: 2px solid transparent;
	border-top-color: #fff;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;

	opacity: 0;

	user-select: none;

	animation: rotating-centered 2s linear infinite;
	transition: opacity 150ms ease-in-out;
}

.uap .uap-review-banner__action:not(:last-child), .uap .uap-track-banner__action:not(:last-child) {
	margin-right: 10px;
}

.uap .uap-review-banner__action:hover, .uap .uap-track-banner__action:hover {
	color: #fff;
	background: #9e9e9e;
	border-color: #9e9e9e;
}

.uap .uap-review-banner__action--loading,
.uap .uap-review-banner__action--loading:hover,
.uap .uap-review-banner__action--loading:active,
.uap .uap-review-banner__action--loading:focus {
	color: transparent;
	background: #9e9e9e;
	border-color: #9e9e9e;
}

.uap .uap-review-banner__action--loading::before {
	opacity: 1;
}

.uap .uap-review-banner__action--primary {
	border-color: var(--uap-color-primary);
	color: var(--uap-color-primary);
}

.uap .uap-review-banner__action--primary:hover {
	background: var(--uap-color-primary);
	border-color: var(--uap-color-primary);
}

.uap .uap-review-banner__action--primary.uap-review-banner__action--loading,
.uap .uap-review-banner__action--primary.uap-review-banner__action--loading:hover,
.uap .uap-review-banner__action--primary.uap-review-banner__action--loading:active,
.uap .uap-review-banner__action--primary.uap-review-banner__action--loading:focus {
	background: var(--uap-color-primary);
	border-color: var(--uap-color-primary);
}

.uap .uap-review-banner__action--anchor {
	box-shadow: none;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	border-color: transparent;
}

.uap a.uap-review-banner__action--anchor-border {
	text-decoration: underline;
	color: #6c757d;
}

.uap .uap-review-banner__action--anchor:hover {
	background: transparent;
	border-color: transparent;
	color: #5c636a;
}

.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading,
.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading:hover,
.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading:active,
.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading:focus {
	color: #5c636a;
}

.uap .uap-review-banner__action--anchor.uap-review-banner__action--loading {
	padding-right: 35px;
}

.uap .uap-review-banner__action--anchor::before {
	border-top-color: #9e9e9e;
	left: auto;
	right: 0;
}

.uap-review-banner__action--no-margin-right {
	margin-right: 5px !important;
}

.uap .uap-review-banner__disclaimer {
	font-size: 13px;
	color: #9e9e9e;
}

.uap #uap-review-banner__close {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;

	padding: 5px;

	cursor: pointer;

	border-radius: 50%;

	transition: background 150ms ease-in-out;
}
.uap #uap-tracking-banner__close {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;

	padding: 5px;

	cursor: pointer;

	border-radius: 50%;

	transition: background 150ms ease-in-out;
}

.uap .uap-review-banner__close-tooltip {
	width: 100%;
	height: 100%;
	border-radius: 50%;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 100;
}

.uap #uap-review-banner__close:hover {
	background: #e0e2e3;
}

.uap #uap-review-banner__close::before {
	content: "";

	width: 10px;
	height: 10px;

	border: 2px solid transparent;
	border-top-color: #90979c;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;

	opacity: 0;

	user-select: none;

	animation: rotating-centered 2s linear infinite;
	transition: opacity 150ms ease-in-out;
}

.uap #uap-review-banner__close.uap-review-banner__close--loading::before {
	opacity: 1;
}

.uap .uap-review-banner__close-icon {
	width: 14px;
	height: 14px;

	opacity: 1;

	position: relative;

	transition: opacity 150ms ease-in-out;
}

.uap .uap-review-banner__close--loading .uap-review-banner__close-icon {
	opacity: 0;
}

.uap .uap-review-banner__close-icon::before,
.uap .uap-review-banner__close-icon::after {
	content: "";

	position: absolute;

	top: 50%;
	left: 50%;
	transform-origin: center;

	width: 100%;
	height: 2px;
	background: #90979c;
}

.uap .uap-review-banner__close-icon::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.uap .uap-review-banner__close-icon::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

/* Keyframes */

@keyframes rotating-centered {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}


/**
 * Upgrade notice on Plugins update page
 */
#uncanny-automator-update .updating-message .ua_plugin_upgrade_notice,
#uncanny-automator-pro-update .updating-message .ua_plugin_upgrade_notice {
	display: none;
}
#uncanny-automator-update .dummy,
#uncanny-automator-pro-update .dummy {
	display: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice {
	font-weight: normal;
	background: #fff8e5 !important;
	border-left: 4px solid #ffb900;
	border-top: 1px solid #ffb900;
	padding: 9px 0 9px 12px !important;
	margin: 0 -12px 0 -16px !important;
}
#uncanny-automator-update .ua_plugin_upgrade_notice::before,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice::before {
	content: "\f348";
	display: inline-block;
	font: 400 18px/1 dashicons;
	speak: never;
	margin: 0 8px 0 -2px;
	vertical-align: top;
	color: #f56e28;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor, #uncanny-automator-update .ua_plugin_upgrade_notice.major,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major {
	padding: 20px 0 !important;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor::before, #uncanny-automator-update .ua_plugin_upgrade_notice.major::before,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor::before, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major::before {
	display: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor p, #uncanny-automator-update .ua_plugin_upgrade_notice.major p,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor p, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major p {
	padding: 0 20px;
	margin: 0;
	max-width: 700px;
	line-height: 1.5em;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor p::before, #uncanny-automator-update .ua_plugin_upgrade_notice.major p::before,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor p::before, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major p::before {
	content: "";
	display: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table {
	margin: 0.75em 0 0;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table tr, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table tr,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table tr, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table tr {
	background: transparent none !important;
	border: 0 !important;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table th, #uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table td, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table td,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table th, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table td, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table td {
	background: transparent none !important;
	margin: 0;
	padding: 0.75em 20px 0;
	border: 0 !important;
	font-size: 1em;
	box-shadow: none;
}
#uncanny-automator-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-update .ua_plugin_upgrade_notice.major table.plugin-details-table th,
#uncanny-automator-pro-update .ua_plugin_upgrade_notice.minor table.plugin-details-table th, #uncanny-automator-pro-update .ua_plugin_upgrade_notice.major table.plugin-details-table th {
	font-weight: bold;
}
.recipe-ui-dash {
	font-size: 14px;
	margin-top: 2px;
	width: 14px;
	height: 14px;
}

.dashicons-yes-alt.recipe-ui-dash {
	color: green;
}
.dashicons-warning.recipe-ui-dash {
	color: orange;
}

/**
 * Others
 */

.uap-integration-inline {
	display: inline-flex;
	position: relative;

	padding-left: calc(calc(1em + 4px) + 5px);
}

.uap-integration-inline img {
	width: calc(1em + 4px);
	height: calc(1em + 4px);

	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	object-fit: contain;
	object-position: center;
}

.uap mark {
	background: #ffeb7f;
	font-weight: 600;
	padding: 2px 5px;
	border-radius: 4px;
}

/* Pro label */

.uap-pro-label {
	background: var(--uap-color-secondary);
	font-size: var(--uap-font-size--body-xsmall);

	color: #fff;
	font-weight: 700;
	border-radius: 150px;
	line-height: 1;

	padding: 0 6px;
}

/**
 * Notices
 * TODO: Move to notice.scss
 */

.uap-notice {
	border-radius: var(--uap-border-radius);
	padding: var(--uap-box-padding);

	background: #fff;
}

.uap-notice__title {
	font-size: var(--uap-font-size--body-large);
	line-height: var(--uap-line-height--body-large);
	padding-bottom: var(--uap-spacing-between-elements);

	font-weight: 600;
}

.uap-notice__content {
	padding-bottom: calc(var(--uap-spacing-between-elements-small) * 2);

	max-width: 1024px;
	color: #585858;
}

/**
 * Dropdowns
 * TODO: Move to dropdown.scss
 */

.uap-dropdown {
	cursor: pointer;
	position: relative;
}

.uap-dropdown-toggle {
	position: relative;

	padding-right: calc(12px + var(--uap-spacing-between-elements-small));
}

.uap-dropdown-toggle::after {
	transition: var(--uap-transition);
	transition-property: transform;

	content: "\f107";

	font-size: 16px;
	width: 11px;
	height: 16px;

	position: absolute;
	right: 0;
	top: calc(50% + 1px);
	transform: translateY(-50%);
	text-align: center;

	font-family: "Uncanny Automator Icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uap-dropdown--open .uap-dropdown-toggle::after {
	transform: translateY(-50%) rotate(180deg);
}

.uap-dropdown-menu {
	border-radius: var(--uap-border-radius);
	box-shadow: var(--uap-shadow-dropdown);
	transition: var(--uap-transition);

	transition-property: opacity, top;

	opacity: 0;
	top: calc(100% + 15px);
	height: 0;
	overflow: hidden;

	background: #fff;
	width: 200px;
	position: absolute;
	right: -10px;
	z-index: 10;
}

.uap-dropdown--open .uap-dropdown-menu {
	height: auto;
	opacity: 1;
	top: calc(100% + 20px);
	overflow: visible;
}

.uap-dropdown-menu::before {
	--uap-caret-size: 8px;

	border: var(--uap-caret-size) solid transparent;
	top: calc(var(--uap-caret-size) * -2);

	content: "";
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	border-bottom-color: #fff;
}

.uap-dropdown:not(.uap-dropdown--caret-left):not(.uap-dropdown--caret-right) .uap-dropdown-menu,
.uap-dropdown:not(.uap-dropdown--caret-left):not(.uap-dropdown--caret-right) .uap-dropdown-menu::before {
	left: 50%;
	transform: translateX(-50%);
}

.uap-dropdown--caret-left .uap-dropdown-menu {
	left: -10px;
}

.uap-dropdown--caret-left .uap-dropdown-menu::before {
	left: 10px;
}

.uap-dropdown--caret-right .uap-dropdown-menu {
	right: -10px;
}

.uap-dropdown--caret-right .uap-dropdown-menu::before {
	right: 10px;
	left: auto;
}

.uap-dropdown-item {}

.uap-dropdown-item,
a.uap-dropdown-item {
	color: var(--uap-font-color);
	font-size: var(--uap-font-size--body-small);
	line-height: var(--uap-line-height--body-small);
	transition: var(--uap-transition);

	transition-property: color;
	padding: 7px 10px;
	text-decoration: none;
	display: block;
}

.uap-dropdown-item:not(:last-child) {
	border-bottom: 1px solid var(--uap-border-color-gray);
}

.uap-dropdown-item:hover {
	color: var(--uap-color-primary);
}

.uap-dropdown-item .uap-icon {
	margin-left: 2px;
}

/**
 * Accordions
 * TODO: Move to accordion.scss
 */

:root {
	--uap-accordion-plus-icon-size: 10px;
}

.uap .uap-accordion {
	margin-top: calc(var(--uap-spacing-between-elements-xsmall) * -1);
}

.uap-accordion-item {}

.uap-accordion-item__toggle {
	padding: var(--uap-spacing-between-elements-xsmall) 0;

	font-weight: 500;
	cursor: pointer;

	position: relative;
}

.uap-accordion-item__toggle::before,
.uap-accordion-item__toggle::after {
	width: var(--uap-accordion-plus-icon-size);
	background: var(--uap-font-color);
	top: calc(var(--uap-spacing-between-elements-xsmall) + calc(1em - 5px));

	content: "";

	height: 2px;
	position: absolute;
	right: 0;
	border-radius: 4px;
	transform-origin: 50%;
	transition: transform 150ms ease-in-out;
}

.uap-accordion-item__toggle::after {
	transform: rotate(90deg);
}

.uap-accordion-item--open .uap-accordion-item__toggle::after {
	transform: rotate(0deg);
}

.uap-accordion-item__content {
	color: var(--uap-font-color-secondary);
	font-size: var(--uap-font-size--body-small);
	padding-bottom: var(--uap-spacing-between-elements-xsmall);

	display: none;
	overflow: hidden;
	transition: height 500ms ease-in-out;
}

.uap-accordion-item--open .uap-accordion-item__content {
	display: block;
}

/**
 * Buttons
 * TODO: Move to button.scss
 */

.uap .uap-btn {
	outline: none;
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 8px;
	background-color: transparent;
	transition: color 150ms ease-in-out, background-color 150ms ease-in-out, border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	text-decoration: none;
}

.uap .uap-btn--primary {
	color: var(--uap-color-primary);
	border-color: var(--uap-color-primary);
}

.uap .uap-btn--primary.uap-btn--loading,
.uap .uap-btn--primary.uap-btn--disabled,
.uap .uap-btn--primary:disabled,
.uap .uap-btn--primary:hover,
.uap .uap-btn--primary:focus {
	color: #fff;
	background-color: var(--uap-color-primary);
}

.uap .uap-btn--primary:not(.uap-btn--disabled):active,
.uap .uap-btn--primary:not(.uap-btn--disabled):focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.uap .uap-btn--secondary {
	color: #6c757d;
	border-color: #b7b7b7;
}

.uap .uap-btn--secondary.uap-btn--loading,
.uap .uap-btn--secondary.uap-btn--disabled,
.uap .uap-btn--secondary:disabled,
.uap .uap-btn--secondary:hover,
.uap .uap-btn--secondary:focus {
	color: #fff;
	border-color: #9e9e9e;
	background-color: #9e9e9e;
}

.uap .uap-btn--secondary:not(.uap-btn--disabled):active,
.uap .uap-btn--secondary:not(.uap-btn--disabled):focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.2);
}

.uap .uap-btn--red {
	color: #f16666;
	border-color: #ff9494;
}

.uap .uap-btn--red.uap-btn--loading,
.uap .uap-btn--red.uap-btn--disabled,
.uap .uap-btn--red:disabled,
.uap .uap-btn--red:hover,
.uap .uap-btn--red:focus {
	color: #fff;
	border-color: #f16666;
	background-color: #f16666;
}

.uap .uap-btn--red:not(.uap-btn--disabled):active,
.uap .uap-btn--red:not(.uap-btn--disabled):focus {
	box-shadow: 0 0 0 0.2rem rgba(241, 102, 102, 0.2);
}

.uap .uap-btn--transparent {
	color: #6c757d;
	border-color: transparent;
	box-shadow: none;
	padding-left: 5px;
	padding-right: 5px;
}

.uap .uap-btn--transparent.uap-btn--loading,
.uap .uap-btn--transparent.uap-btn--disabled,
.uap .uap-btn--transparent:disabled,
.uap .uap-btn--transparent:hover,
.uap .uap-btn--transparent:focus {
	color: #575d63;
	border-color: transparent;
	background-color: transparent;
}

.uap .uap-btn--disabled,
.uap .uap-btn:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.uap .uap-btn--loading {
	color: transparent !important;
}

.uap .uap-btn--loading::before {
	content: "\e000";
	font-family: "Uncanny Automator Icons";

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: #fff;
	font-size: 16px;

	animation: rotating-centered 2s linear infinite;
}

.uap .uap-btn--loading:hover {
	color: transparent !important;
}

.uap .uap-btn--small {
	padding: 2px 7px;
}

/**
 * Placeholders
 * TODO: Move to placeholder.scss
 */

.uap-placeholder-text {
	position: relative;
}

.uap-placeholder-text::before {
	content: attr(data-placeholder);
	color: transparent;
}

.uap-placeholder-text::after {
	border-radius: var(--uap-border-radius);
	background: var(--uap-color-placeholder-gray);

	content: "";

	width: calc(100% - 6px);
	margin-left: 3px;
	height: calc(1em / 2.5);

	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	animation: UncannyAutomatorPlaceHolderShimmer 1s steps(10) 1s infinite alternate;
}

@keyframes UncannyAutomatorPlaceHolderShimmer {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.25;
	}
}

/**
 * Table
 * TODO: Move to table.scss
 */

:root {
	--uap-table-heading-bg: #f9f9fb;
	--uap-table-heading-color: #646b87;

	--uap-table-border-color: #eee;

	--uap-table-cell-padding-top-bottom: 10px;
	--uap-table-cell-padding-left-right: 12px;
}

.uap-table {
	border: 1px solid var(--uap-table-border-color);
	border-radius: var(--uap-border-radius);
	font-size: var(--uap-font-size--body-small);
	line-height: var(--uap-line-height--body-small);

	text-align: left;
	border-spacing: 0;
}

.uap-table thead {
	background: var(--uap-table-heading-bg);
}

.uap-table th,
.uap-table td {
	padding: var(--uap-table-cell-padding-top-bottom) var(--uap-table-cell-padding-left-right);
}

.uap-table tbody tr:not(:last-child) td {
	border-bottom: 1px solid var(--uap-table-border-color);
}

.uap-table th {
	color: var(--uap-table-heading-color);
}

/**
 * Video
 * TODO: Move to video.scss
 */

.uap-video {
	width: 100%;
	height: 0;
	position: relative;
}

.uap-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.uap-video--16-9 {
	padding-bottom: calc(calc(9 / 16) * 100%);
}
